body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  

  .img {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 24PX;
    width: 100px;
    height: 100px;
  }
  
  .close {
    position: absolute;
    top: 10;
    right: 10PX;
    width: 50px;
    height: 50px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form {
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    width: 200%;
    margin: 10px;
  }
  
  .form h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 0%;
    margin-top: 0%;
    border-spacing: 0;
  }
 
  .identitas{
    margin-top: -15px;
  }
  
  
  .form input {
    border-radius: 15px;
    width: 100%;
    height: 28px;
    border: 1px solid black;
  }
  
  .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 5px;
  }
  
  .submit {
    background-color: #4640DE;
    color: #fff;
    width: 280px;
    text-align: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    height: 40px;
  }
  

  
  .input-field {
    border-radius: 15px;
    width: 50%;
    height: 28px;
  }
  
  .form-table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  .headgaji {
  
    background-color: #1F2B48;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    height: 32px;
  }
  
  .form-table td {
    padding: 10px;
   
    height: 24px;
    text-align: left;
    
  }
  .simpangaji {
    background-color: #4640DE;
    border-radius: 18px;
    float: right; /* Menggeser tombol ke kanan */
    border-style: none;
    height: 32px;
    width: 200px;
    color: #fff;
  }
  .tambahkomponen {
    background-color: #027800;
    border-radius: 18px;
    float: right; /* Menggeser tombol ke kanan */
    border-style: none;
    height: 32px;
    width: 200px;
    color: #fff;
  }
  .input-wrapper {
    position: relative;
    display: inline-block;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .img {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 24PX;
    width: 100px;
    height: 100px;
  }
  
  .close {
    position: absolute;
    top: 10;
    right: 10PX;
    width: 50px;
    height: 50px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form {
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    width: 200%;
    margin: 10px;
  }
  
  .form h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 0%;
    margin-top: 0%;
    border-spacing: 0;
  }
 
  .identitas{
    margin-top: -15px;
  }
  
  
  .form input {
    border-radius: 15px;
    width: 100%;
    height: 28px;
    border: 1px solid black;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 5px;
  }
  
  .submit {
    background-color: #4640DE;
    color: #fff;
    width: 280px;
    text-align: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    height: 40px;
    align-items: center;
  }
  

  
  .input-field {
    border-radius: 15px;
    width: 50%;
    height: 28px;
  }
  
  .form-table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  .headgaji {
  
    background-color: #1F2B48;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    height: 32px;
  }
  
  .form-table td {
    padding: 10px;
   
    height: 24px;
    text-align: left;
    
  }

  .simpangaji {
    background-color: #4640DE;
    border-radius: 18px;
    float: right; /* Menggeser tombol ke kanan */
    border-style: none;
    height: 32px;
    width: 200px;
    color: #fff;
  }
  .tambahkomponen {
    background-color: #027800;
    border-radius: 18px;
    float: right; /* Menggeser tombol ke kanan */
    border-style: none;
    height: 32px;
    width: 200px;
    color: #fff;
  }
  .input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .gray-bg .input-wrapper input {
    background-color: #D9D9D9; /* Warna abu untuk latar belakang form input */
  }
  
  
  .info-icon {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    
  }
  
  .button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.button-container .dropdown {
    display: inline-block;
    position: relative;
}

.button-container .dropdown-toggle {
    background-color: #fff;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 24px;
    height: 32px;
    padding: 5px 20px;
}

.button-container .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 24px;
    top: 40px; /* Adjust this value as needed */
}

.button-container .dropdown-menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    color: black;
}

.button-container .dropdown:hover .dropdown-menu {
    display: block;
}

.button-container .lihatdata {
    background-color: #4640DE;
    color: #fff;
    border-radius: 24px;
    border: none;
    height: 32px;
    padding: 5px 20px;
}

.button-container .periode {
    color: black;
    text-decoration: none;
}
.gambar {
    width: 38px;
    float: right;
  }
  .triangle-icon {
    width: 0;
    height: 0;
    border-left: 5px solid transparent; /* Adjust the size as needed */
    border-right: 5px solid transparent; /* Adjust the size as needed */
    border-top: 5px solid black; /* Adjust the color and size as needed */
    margin-left: 5px; /* Adjust the spacing between the text and the triangle */
    display: inline-block;
  }
  

/*Kode Konfirmasi Hapus*/

  
.text {
    color: black;
    text-align: center;
    font-size: 16px;
}

.caption {
    color: #DA241A;
    margin-top: 15px;
}

.peringatan {
    color: black;
    text-align: center;
}

.imgperingatan {
    width: 50px;
    display: block;
    margin: 0 auto;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

#konfirmasiPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    text-align: center;
    border-radius: 25px;
    width: 35%;
}

.button-popup {
    text-align: center;
    margin-top: 20px;
    border-style: none;
}

#yaButton {
    background-color: #DA241A;
    border-radius: 25px;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    width: 30%;
    border-style: none;
}

#tidakButton {
    margin-left: 10px;
    border-radius: 25px;
    background-color: #ABB3C4;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    width: 30%;
    border-style: none;
}
.button-up {
    border: none;
    margin: 0;
    padding: 0;
}

/*Slip gaji*/
/* CSS untuk styling pop-up */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    text-align: center;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    line-height: 0;
    
}
.popup td {
    text-align: left;
    line-height: 1;
    padding-top: 12px;
}

#closeButton {
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}
#cetak {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}
#kirim {
    background-color: #4640DE;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}
.custom-line {
    color: black; /* Warna garis */
    border-style: 10px solid; /* Gaya garis (dashed, solid, etc.) */
    width: 100%; /* Lebar garis */
}
.ttd p{
    text-align: right;
    padding: 16px;
    right: 10px;
    margin-bottom: 16px;
    margin-top: 16;   
}

.popup img {
    position: absolute;
    top: 5px;
    right: 0;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}
