/* Reset margin dan padding untuk seluruh halaman */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Warna latar belakang halaman */
}
.search-container {
    display: flex;
    align-items: center;
    margin: 20px;
    
}

/* Style untuk kolom pencarian */
.search-bar {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style untuk tombol pencarian */
.search-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

/* Style hover pada tombol pencarian */
.search-button:hover {
    background-color: #0056b3;
}
/* Container untuk sidebar dan konten */
.sidebar {
    width: 250px;
    height: auto;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}
.sidebar p {
    margin-left: 40px;
    color: grey;
}
.logo {
    padding: 0px;
    text-align: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.menu {
    list-style: none;
    padding: 0;
    margin-left: 5px;
}

.menu li {
    padding: 10px;
    text-align: left;
    margin-left: 5px;
    border-radius: 25 px;
}

.menu a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: blueviolet;
    border-radius: 10px;
    height: 25px;
    color: white;
    
}

/* Tampilan submenu saat "submenu-trigger" diberi hover */
.submenu-trigger:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    background-color: white ;
    border-radius: 10px;

}

.submenu-items {
    list-style: none;
    padding: 0;
}

.submenu-items li {
    text-align: left;
}

.submenu-items a {
    color: black;
    text-decoration: none;
    display: block;
}

.submenu-items a:hover {
    background-color: blueviolet;
}

.menu img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 5px;
}

/* Container untuk kolom-kolom dan tabel */
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 270px; /* Sesuaikan margin kiri sesuai kebutuhan */
    padding: 20px;
    background-color: #fff; /* Warna latar belakang kontainer */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Efek bayangan */
}
/* Kolom-kolom */
.column {
    flex-basis: calc(33.33% - 20px); /* Lebar kolom */
    padding: 20px;
    background-color: #fff; /* Warna latar belakang kolom */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Efek bayangan */
    text-align: center;
    border-radius: 10px; /* Sudut melengkung */
    border: solid grey 0.5px;
    margin-left: 5px;
}

.column h2 {
    margin-bottom: 10px;
}

.column img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

/* Tabel */
.my-table {
    margin-top: 20px;
    margin-right: 10px; /* Sesuaikan margin kanan sesuai kebutuhan */
    margin-left: 270px;
    padding: 20px;
    background-color: #fff; /* Warna latar belakang tabel */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Efek bayangan */
    border-radius: 5px; /* Sudut melengkung */
}

.my-table th, .my-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd; /* Garis tepi */
}

.my-table th {
    background-color: #f2f2f2; /* Warna latar belakang header */
}

.my-table img {
    width: 20px;
}